<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Intro</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Hello World!</h1>
  <div id="app">
    <h1>hello! {{ name }}  </h1>
    <input type="text" v-model="name">
    <ol>
      <li v-for="framework in frameworks">{{ framework }}</li>
    </ol>
  </div>
  
  <script >
    const app = new Vue({
      el: '#app',
      data: {
        name: 'asha',
        frameworks: ['React', 'Vue', 'Angular']
      }
    })
  </script>
</body>
</html>